.userList{
    width: 10%;
    margin-top: 70px;
    color:black;
    margin:auto;
    margin-top:70px;
    height: 400px;
    padding:15px;
    background-color: lightgray;
    border-radius: 5px;
}

.userList .activeUserTitle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.userList button{
    height:30px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.userList .user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:30px;
    margin-bottom: 20px;
    padding-bottom: 3px;
    background-color: whitesmoke;
    border-radius: 5px;
}