.userList{
    width: 15%;
    color:black;
    margin-right:20px;
    margin-top: 3%;
    height: 600px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
}

.userList .activeUserTitle{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    color : black
}

.userList button{
    height:30px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    color:black;
    background-color: #98bad3;
    cursor: pointer;
}
.userList button:hover{
    color: white;
}
.userList .user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:30px;
    margin-bottom: 20px;
    padding-bottom: 3px;
    background-color: #98bad3;
    border-radius: 5px;
}
.userList .user a{
    color:black;
}

.user a{
    text-decoration: none;
    color:black;
}