.commentList{
    display: flex;
    flex-direction: column;
    height:200px;
    margin-bottom: 20px;
    overflow:auto;
    border:1px solid #98bad3;
    border-radius: 3px;
}

.commentList .comment{
    display: flex;
    margin-left: 100px;
    padding:1px;
}
.comment .commentContent{
    margin-left: 15px;
}