.myPage{
    margin:auto;
    color:black;
    background-color: aliceblue;
    flex-direction: column;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0 ;
}

.myPagePage label{
    font-weight: 600;
    font-size: 20px;
}

.myPagePage button{
    width:80px;
}
.myPagePage button a{
    color:blue;
}

.infoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: auto;
}

.mypageLabel{
    color : rgb(81, 81, 81);
}
