.myPage{
    margin:auto;
    color:black;
    background-color: aliceblue;
    flex-direction: column;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.myPagePage label{  
    font-size: 30px;
}

.myPagePage button{
    width:80px;
}
.myPagePage button a{
    color : white;
    text-decoration: none;
}

.infoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: auto;
}