.myPage{
    margin:auto;
    margin-top: 30px;
    color:black;
    width: 500px;
    height: 630px;
    background-color: lightgray;
    display:flex;
    flex-direction: column;
    padding:15px;
    border-radius: 5px;
    font-size: 20px;
}

.myPagePage label{
    font-weight: 600;
    font-size: 30px;
}

.myPagePage button{
    width:80px;
}
.myPagePage button a{
    color:black;
    text-decoration: none;
}

.infoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: auto;
}