.postPage {
    width: auto;
    margin-top: 20px;
    color:black;
    height: 600px;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    padding:15px;
    border-radius: 5px;
}

.postPage .listTitle{
    font-size: 30px;
    font-weight: 500;
}

input {
    width: 55%;
    margin : 10px;
    height: 30px;
    border :  1px    rgb(204, 204, 204);
}

select{
    height: 30px;
    width : 20% ;
    border-radius: 2px;
    width:80px;

    border-style: none;
}

button {
    height: 30px;
    width : 20% ;
    text-align-last: auto;

}

.postPage .postList{
    overflow-y: scroll;
}