*{
    box-sizing: border-box;
    border-radius: 5px;
}

.postForm{
    flex-direction: column;
    justify-content: center;
}
.postForm input{
    height: 30px;
    margin-bottom:15px;
    margin-top:5px;
}

.postForm select{
    height: 37px;
    margin-bottom:15px;
    margin-top:5px;
}
.postForm label{
    font-weight: 600;
}
.postForm button{
    margin-top:15px;
    margin-left: 30%;
    margin-right: 30%;
    height: 30px;
    font-weight: 600;
}

.postForm textarea{
    height: 250px;
    margin-top:5px;
    margin-bottom:10px;
}

.postForm form {
    margin-left: 15%;
    margin-right: 15%;
    padding : 10px;
    background-color: aliceblue;
}   