.post{
    background-color: white;
    padding-top: 100px;
    margin-top: 0px;
    border-radius: 5px; 
    border:3px solid #98bad3;
    display: flex;
    padding:7px;
}
.post .postCategory{
    width: 13%;
}
.post .postName{
    display:flex;
    margin-left: 15px;
    width:20%;
    
}
.post .postTitle{
    text-decoration: none;
}

.post a{
    text-decoration: none;
    color:black
}