.postFormPage{
    margin-top: 3%;
    box-sizing: border-box;
}

.postForm{
    border-radius: 5px;
    justify-content: center;
    padding : 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:35%;
    height:600px;
    margin:auto;
}
.postForm input{
    width: 70%;
    height: 30px;
    margin-bottom:15px;
    margin-top:5px;
}

.postForm select{
    width: 70%;
    height: 37px;
    margin-bottom:15px;
    margin-top:5px;
}
.postForm label{
    font-weight: 600;
}
.postForm button{
    margin-top:15px;
    margin-left: 30%;
    margin-right: 30%;
    height: 30px;
    font-weight: 600;
}

.postForm textarea{
    width: 70%;
    height: 200px;
    margin-top:5px;
    margin-bottom:10px;
}
