.postPage {
    width : 90%;
    margin-top: 20px;
    color:black;
    height: 600px;
    background-color: aliceblue;
    display:flex;
    flex-direction: column;
    padding:15px;
    border-radius: 5px;
}

.postPage .listTitle{
    font-size: 30px;
    font-weight: 500;
}
.postPage input {
    width: 65%;
    margin : 10px;
    height: 30px;
    border :  1px    rgb(204, 204, 204);
}
.postListTop{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-right:15px;
}
.postPage select{
    height: 30px;
    width : 30px ;
    border-radius: 2px;
    width:80px;

    border-style: none;
}

.postPage button {
    height: 30px;
    width : 15% ;
    text-align-last: auto;
    border-radius: 5px;
    border-style:inset;
    border-color:rgb(96, 96, 208);
}
.postPage .postButton{
  display:flex;
  justify-content: flex-end;
  padding-right:35px;
}

.postPage .postList{
    overflow-y: scroll;
}