.postPage {
    width : 90%;
    margin-top: 3%;
    color:black;
    height: 600px;
    background-color: white;
    display:flex;
    flex-direction: column;
    padding:15px;
    border-radius: 5px;
}

.postPage .listTitle{
    font-size: 30px;
    font-weight: 500;
}
.postPage input {
    width: 65%;
    margin : 10px;
    height: 30px;
    border-radius: 3px;
    border: 3px solid #629bc4;
}
.postListTop{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-right:15px;
    margin-bottom: 30px;
}
.postListTop a{
    color:black;
    text-decoration: none;
}
.postListTop a:hover{
    color: #629bc4;
}
.postPage select{
    height: 30px;
    width : 30px ;
    border-radius: 2px;
    width:80px;
    border-radius: 3px;
    border: 3px solid #629bc4;
    cursor: pointer;
}
.postPage select:hover{
    color: #629bc4;
}


.postPage button {
    height: 30px;
    width : 15% ;
    text-align-last: auto;
    background-color: white;
    border-radius: 5px;
    border:3px solid #629bc4;
}
.postPage button:hover{
    color: #629bc4;
}


.postPage .postList{
    overflow-y: scroll;
    border:3px solid #98bad3;
    border-radius: 3px;
}