.post{
    background-color: white;
    margin: 20px;
    border-radius: 5px; 
    border : 3px ;
    display: flex;
    padding:7px;

}
.post .postCategory{
    width: 13%;
}
.post .postName{
    display:flex;
    margin-left: 15px;
    width:20%;
    
}
.post .postTitle{
    text-decoration: none;
}

.post a{
    text-decoration: none;
    color:black
}