.loginForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:27%;
    margin-right:27%;
}
.loginForm input{
    height: 30px;
    margin-bottom:15px;
    margin-top:5px;
}
.loginForm label{
    font-weight: 600;
}
.loginForm button{
    margin-top:15px;
    height: 30px;
    font-weight: 600;
}