.loginPage{
    display:flex;
    justify-content: center;
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    background-color: white;;
}

.loginForm{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:27%;
    margin-right:27%;
}
.loginForm input{
    height: 30px;
    margin-bottom:15px;
    margin-top:5px;
    border-width:3px;
    background-color: #98bad3;
    border-style: inset;
    border-color: rgb(198, 198, 243);
}
.loginForm label{
    font-weight: 600;
}
.loginForm button{
    margin-top:15px;
    height: 30px;
    font-weight: 600;
    border-width:3px;
    background-color: #98bad3;
    border-style: outset;
    border-color: rgb(198, 198, 243);
}