.navigation{
    display:flex;
    padding:10px;
    align-items: center;
    margin:auto;
}
.navigation a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding:20px;
}

.navigation span{
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding:20px;
}

.timeBar {
    margin-left: 100px;

}

