.registerPage{
    display:flex;
    justify-content: center;
<<<<<<< HEAD
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    width: 70%;
    height: 600px;
    background-color: white;
=======
    margin-top: 3%;
    margin-left:auto;
    margin-right: auto;
    width: 40%;
    height: 700px;
    background-color: white;
    border-radius: 5px;
>>>>>>> a6bbb1b43966e2f69ff5e576e4469eec66cc879f
}

.registerForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:27%;
    margin-right:27%;
}
.registerForm input{
    height: 30px;
    margin-bottom:5px;
    margin-top:5px;
    border-width:3px;
    background-color: #98bad3;
    border-style: inset;
    border-color: rgb(198, 198, 243);
}

.registerForm select{
    height: 37px;
    margin-bottom:5px;
    margin-top:5px;
    border-width:3px;
    background-color: #98bad3;
    border-style: inset;
    border-color: rgb(198, 198, 243);
}
.registerForm label{
    font-weight: 600;
}
.registerForm button{
    margin-top:25px;
    height: 30px;
    font-weight: 600;
    border-width:3px;
    background-color: #98bad3;
    border-style: outset;
    border-color: rgb(198, 198, 243);
}