.chatPage{
        width:45%;
        height:600px;
        justify-content: center;
        margin:auto;
        margin-top: 3%;
}
.chatList{
        padding:20px;
        display: flex;
        flex-direction: column;
        height:80%;
        margin:30px;
        overflow:auto;
        background-color: white;
        border-radius: 5px;
}
h4{
        margin:0px;
        font-size: 22px;
}

.chatRight{
        display:flex;
        justify-content: flex-end;
}
.chatRight2{
        background-color:white;
        display:flex;
        color:black;
        margin:2px;
        padding:3px;
        border-radius: 5px;
        border: 1px solid #629bc4;
}
.chatLeft{
        display:flex;
        justify-content: flex-start;
}
.chatLeft2{
        background-color:white;
        color:black;
        margin:2px;
        padding:3px;
        border-radius: 5px;
        border: 1px solid #629bc4;
}