*{
  box-sizing: border-box;
}
.calendar {
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  width: 70%;
  background-color: white;
  border-radius: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-month {
  font-size: 35px;
  color: rgb(0, 0, 0);
  padding-left: 10px;
}

.nav {
  display: flex;
  border-radius: 5px;
}

.nav-btn {
  margin-right: 5px;
  width: 60px;
  height: 30px;
  color:#ffff;
  border-style: outset;
  border-color: #98c1de;
  align-items: center;
  font-size: 16px;
  line-height: 34px;
  background-color: #629bc4;
  cursor: pointer;
  border-radius: 3px;
}

.go-today {
  width: 75px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.days{
    display:flex;
    margin:25px 0px 10px;
}
.day{
    width: calc(100%/7);
    text-align:center;
}
.dates{
    display:flex;
    flex-wrap: wrap;
    height:470px;
    border:1px solid #000000;
}
.date{
    width:calc(100%/7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.inputForm{
  width:350px;
  height:400px;
  background: rgba(34, 114, 146, 0.8);
  border-radius: 5px;
  color:white;
  position: absolute;
  left:40%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer{
  display:flex;
  flex-direction: row-reverse;
}
.inputButton{
  border-radius: 3px;
  background-color: #629bc4;
  color:white;
  border: none;}